@page
@using JsonFiles
@model Powerwolf.Pages.ConcertsModel
@{
    ViewData["Title"] = "Concerts";
    List<Concert> concerts = (List<Concert>)ViewData["Concerts"];
}

<div class="container">
    <h1 class="title text-center">Concerts</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>City</th>
                <th>Country</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Concert concert in concerts)
            {
                <tr>
                    <td>@concert.Name</td>
                    <td>@concert.Date</td>
                    <td>@concert.City</td>
                    <td>@concert.Country</td>
                    <td><a target="_blank" href="@concert.TicketLink">Tickets</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>